.templatemo-top-bar {
    min-height: 40px !important;
    background-color: #eeeeee !important;
  }
  
  .container {
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  
  .subheader {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: normal !important;
    font-size: 12px !important;
    color: #e67e22 !important;
    justify-content: space-between !important;
    padding-top: 10px;
  }
  
  .pull-left {
    float: left !important;
  }
  
  .pull-right {
    float: right !important;
  }
  
  a {
    color: #337ab7 !important;
    text-decoration: none !important;
    background-color: transparent !important;
  }
  
  .templatemo-top-menu {
    min-height: 110px !important;
    background-color: #ffffff !important;
    z-index: 5000 !important;
  }
  
  .templatemo-top-menu .container {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  
  .navbar {
    margin-bottom: 0px !important;
    padding: 0px !important;
  }
  
  .navbar-default {
    background-color: #fff !important;
    border: none !important;
  }
  
  .container>.navbar-header,
  .container>.navbar-collapse,
  .container-fluid>.navbar-header,
  .container-fluid>.navbar-collapse {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  
  .vertical-overlay-menu .navbar .navbar-header {
    float: left !important;
  }
  
  table {
    background-color: transparent !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
  }
  
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #e7e7e7 !important;
  }
  
  @media (min-width: 992px) {
  
    .container>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container-fluid>.navbar-collapse {
      margin-right: 0;
      margin-left: 0;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-collapse.collapse {
      display: block !important;
      visibility: visible !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-collapse {
      width: auto !important;
      border-top: 0 !important;
      box-shadow: none !important;
    }
  }
  
  .navbar-collapse {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  
  .carousel {
    position: relative !important;
  }
  
  #templatemo-carousel {
    background: url(./images/Background.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom: 0;
    height: 500px;
  }
  
  legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 23px;
    font-size: 21px;
    line-height: inherit;
    color: #4c4c4c;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .page-nav {
    position: absolute;
    bottom: -15px;
    right: 0;
    list-style: none;
  }
  
  .page-nav>li {
    position: relative;
    display: inline-block;
  }
  
  .page-nav>li.active {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #337ab7;
    margin-left: 15px;
  }
  
  .page-nav>li.active>a {
    color: white !important;
    text-decoration: none;
  }